.circle {
    -fx-border-color: #065808;
    -fx-border-width: 5px;
    -fx-background-color: #CCFF99;
}

.circle-painted {
    -fx-background-color: blue;
}

.circle-eye-left {
    -fx-border-color: #580c05;
    -fx-border-width: 5px;
}

.circle-eye-right {
    -fx-border-color: #580c05;
    -fx-border-width: 5px;
}

.root-node {
    -fx-background-color: #beffec;
}

.button {
    -fx-font-size: 20px;
    -fx-border-insets: 5;
    -fx-border-radius: 15;
    -fx-background-color: #00c600;
    -fx-background-insets: 5;
    -fx-background-radius: 5;
}

.button-paint {
    -fx-background-color: #c94f40;
}

.button-gradient {
    -fx-background-color: rgba(14, 13, 63, 0.63);
}

.hbox
{
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-insets: 5px;
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-background-color: lightgray;
    -fx-background-insets: 5px;
}

